        body {
            font-family: Arial, sans-serif;
            background-color: #1a1a1a;
            background-image: url('../img/darker_black_leather.png');
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
            border: 1px dashed rgba(255,255,255,0.2);
            border-radius: 5px;
            box-shadow: 0 0 0 1px rgba(20,20,20,0.5);
            background-image: url('../img/black_leather.png');
            width: 400px;
        }
        .padMe {
            padding: 20px;
        }
        #bpm {
            font-size: 48px;
            margin-bottom: 5px;
        }
        #tempoName {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .slider-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        #bpmSlider {
            width: 300px;
            margin: 0 10px;
        }
        .blocks {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 6px;
            border-radius: 5px;
            background: #1a1a1a;
            box-shadow: inset 4px 4px 4px #000;
        }
        .block {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            border-radius: 50%;
            transition: all 0.1s ease;
            border: 1px solid transparent;
            background-color: rgba(255,226,134,0.15);
            box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.8);
        }
        .block:first-child.active {
            /*
            background-color: #2dd9fe;
            box-shadow: 0 0 15px #00a3d5;
            */
            border: 1px solid rgba(0,254,155,1);
            background-color: rgba(0,254,155,1);
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, 0 0 15px #02c435, inset 0px 4px 4px rgba(255, 255, 255, 0.8);
            /*box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;*/
        }
        .block:not(:first-child).active {
            /*
            background-color: #FF53cd;
            box-shadow: 0 0 15px #e10361;
            */
            background-color: rgba(0,254,155,0.7);
            border: 1px solid rgba(0,254,155,0.7);
            box-shadow: 0 0 15px #02c435, inset 0px 3px 3px rgba(255, 255, 255, 0.8);
        }
        .block:first-child {
            margin-right: 5px;
        }
        .block:not(:first-child) {
            width: 30px;
            height: 30px;
            margin: 5px;
        }
        #toggleButton {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: rgba(76, 175, 80, 0.8);
            border: none;
            color: white;
            font-size: 24px;
            cursor: pointer;
            margin-bottom: 20px;
            margin-right: 10px;

            /* prevent ugly outline on mobile */
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
            -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
            outline: none !important;
        }
        #toggleButton:focus {
            outline-color: transparent;
            outline: none;
        }

        #tapButton {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgba(76, 175, 80, 0.8);
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .bpm-button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #555;
            border: none;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
        .time-signature-buttons {
            margin-top: 20px;
        }
        .time-signature-button {
            padding: 10px 20px;
            margin: 0 10px;
            background-color: #555;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }
        .active-time-signature {
            background-color: rgba(76, 175, 80, 0.8);
        }
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #studyButton {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #555;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }
        #studyOptions {
            display: none;
            padding: 10px;
            background-color: rgba(0,0,0,0.5);
            border-radius-bottom-left: 6px;
            border-radius-bottom-right: 6px;
        }
        #studyOptions input {
            width: 50px;
            margin: 0 5px;
        }

        input[type="number"] {
            padding: 4px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 3px solid #555;
            border-radius: 4px;
            background: #000;
            color: #DDD;
            font-size: 16px;
        }
        input[type="number"]:focus {
            border: 3px solid #777;
            color: #FFF;
            background: #222;
            outline: none;
        }

        #studyTimers {
            display: none;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        /* Updated styles for the slider */
        input[type="range"] {
          /* removing default appearance */
          -webkit-appearance: none;
          appearance: none; 
          /* creating a custom design */
          width: 100%;
          cursor: pointer;
          outline: none;
          /*  slider progress trick  */
          overflow: hidden;
          border-radius: 16px;
        }

        /* Track: webkit browsers */
        input[type="range"]::-webkit-slider-runnable-track {
          height: 15px;
          background: #1a1a1a;
          border-radius: 16px;
        }

        /* Track: Mozilla Firefox */
        input[type="range"]::-moz-range-track {
          height: 15px;
          background: #1a1a1a;
          border-radius: 16px;
        }

        /* Thumb: webkit */
        input[type="range"]::-webkit-slider-thumb {
          /* removing default appearance */
          -webkit-appearance: none;
          appearance: none; 
          /* creating a custom design */
          height: 15px;
          width: 15px;
          background-color: #fff;
          border-radius: 50%;
          border: 2px solid rgba(76, 175, 80, 0.8);
          /*  slider progress trick  */
          box-shadow: -407px 0 0 400px rgba(76, 175, 80, 0.9);
        }


        /* Thumb: Firefox */
        input[type="range"]::-moz-range-thumb {
          height: 15px;
          width: 15px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid rgba(76, 175, 80, 0.8);
          /*  slider progress trick  */
          box-shadow: -407px 0 0 400px rgba(76, 175, 80, 0.9);
        }


        /*=============
        Aesthetics 
        =========================*/
        .wrapper {
          color: #4b4949; 
          background: rgba(76, 175, 80, 0.8);
          max-width: 400px;
          width: 100%;
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
        }

        .range {
          display: flex;
          align-items: center;
          max-width: 500px;
          height: 4rem;
          width: 80%;
          background: #fff;
          padding: 0px 10px;
        }


        #timers {
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        #timers span {
            width: 100%;
            font-size: 1.8em;
            color: rgba(255, 255, 255, 0.5);
        }
        #timers div:nth-child(2) {
            display: none;
        }
        .timer-label {
            font-size: 0.8em;
            color: rgba(255, 255, 255, 0.3);
            margin-top: 1px;
        }